/* PAGE */
.auth-page {
  min-height: 85vh;
  display: flex;
  font-family: "Poppins", sans-serif;
}

/* LEFT PANEL */
.auth-left {
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://imgs.search.brave.com/buz_L6aybLi6XpyKQ5ST5-754LajhY6ufNQV3g4orXQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9h/Z3JpY3VsdHVyZS1m/b29kLXByb2R1Y3Rp/b24tY29uY2VwdC13/aXRoLXRyYWN0b3It/bWFjaGluZS1zaWxv/cy1pcnJpZ2F0aW9u/LXN5c3RlbV8zNDI3/NDQtNTY1LmpwZz9z/ZW10PWFpc19pbmNv/bWluZyZ3PTc0MCZx/PTgw")
      center/cover no-repeat;
  color: white;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-left h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.auth-left p {
  font-size: 20px;
  line-height: 1.6;
}

/* RIGHT PANEL */
.auth-right {
  width: 50%;
  background: #f6f8f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.auth-card {
  background: white;
  padding: 45px;
  width: 360px;
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.auth-card h2 {
  color: #2e7d32;
  margin-bottom: 6px;
}

.auth-sub {
  font-size: 14px;
  margin-bottom: 30px;
  color: #555;
}

/* FLOATING INPUT */
.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-group input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  padding: 0 6px;
  background-color: transparent;
  color: #777;
  font-size: 13px;
  transition: 0.3s;
  pointer-events: none;
  border-radius: 5px;
  width: 200px;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -6px;
  font-size: 11px;
  color: #2e7d32;
}

/* BUTTON */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

/* FOOTER */
.auth-footer {
  text-align: center;
  margin-top: 18px;
  font-size: 13px;
}

.auth-footer a {
  color: #2e7d32;
  font-weight: 600;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  color: #777;
  user-select: none;
}

.toggle-password:hover {
  color: #000;
}

.toggle-password svg {
  font-size: 1.1rem;
}

@media (max-width: 750px) {
  .auth-card {
    padding: 25px;
    width: 300px;
  }
}

@media (max-width: 750px) {
  .auth-page {
    flex-direction: column;
  }
  .auth-left {
    width: 100%;
  }
  .auth-card {
    padding: 45px;
    width: 70%;
  }
  .auth-right {
    width: 100%;
    padding: 20px;
  }
  h2,
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}

@media (max-width: 475px) {
  .auth-card {
    padding: 25px;
    width: 90%;
  }
  .auth-left h1 {
    font-size: 40px;
  }
  .auth-left p {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .input-group label {
    width: 57vw;
  }
}



